.greenBox {
    position: absolute;
    top: -10px;
    max-width: 1204px;
    width: 100%;
    min-height: 1328px;
    border-radius: 68px;
    background: linear-gradient(25.39deg, rgba(255, 255, 255, 0.024) 18.54%, rgba(123, 245, 93, 0.108) 62.25%);
    backdrop-filter: blur(60px);
    margin-top: -2.5%;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 1150px) {
    .greenBox {
        min-height: 1428px;
    }
  }

  @media screen and (max-width: 700px) {
    .greenBox {
        min-height: 1028px;
    }
  }

  @media screen and (max-width: 500px) {
    .greenBox {
        min-height: 1228px;
    }
  }

.number {
    font-weight: 700;
    font-size: 63px;
    letter-spacing: -0.039em;
    color: #EFFFE2;
    text-shadow: 0px 0px 12px #53FB2A, 0px 0px 42px #E9E11F, 0px 0px 61px #53FB2A;
}

@media screen and (max-width: 995px) {
    .number {
        font-size: 50px
    }
}

@media screen and (max-width: 700px) {
    .number {
        font-size: 30px
    }
  }
