.heroHeader {
  display: flex;
}

.h1 {
  font-size: 133px;
  font-weight: 900;
  letter-spacing: -0.039em;
  line-height: 152px;
  padding-top: 153px;
  padding-left: 126px;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  mix-blend-mode: normal;
}

.gradientText {
  padding: 0;
  padding-left: 27px;
  background-color: #F4C18E;
  /* TD: Match Gradient to mock up.... */
  background-image: linear-gradient(-315deg, #F4C18E, #C17C9F);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.heroText {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 195.5%;
  letter-spacing: 0.005em;
  color: #757575;
  /* Why does width this not match? */
  max-width: 675px;
  padding-top: 44px;
  padding-left: 178px;
}